
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;700&display=swap');
/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
*{
    margin: 0;
    padding: 0;
}
main{
    margin: 60px;
    /* font-family: 'Roboto', sans-serif;  */
    font-family: 'Poppins', sans-serif;
    height: auto;
}
h1, h2, h3, h4, h5{
    font-family: 'Roboto', sans-serif;  
}
.section-padding{
    padding-top: 100px;
    padding-bottom: 100px;
}
button{
    padding: 13px 35px;
    border: 2px solid rgb(243, 243, 237);
    /* background-color: #e02c6d;  */
    background: #000;
    border-radius: 30px;
    transition:.4 ease-in-out;
    cursor: pointer;
    color: rgb(244, 248, 11);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
button:hover{
    background-color: rgb(43, 199, 69);
    color: #000;
}
/*======== header part start 01  ========*/
.header-portion{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
}
.header-area{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo h3{
    font-weight: 700;
    letter-spacing: .5px;
    font-size: 24px;
}
.nav ul{
    display: flex;
}
.nav ul li{
    margin-right: 30px;
    list-style: none;

}
.nav li a{
    text-decoration: none;
    color: #000;
    text-transform: capitalize;
    font-size: 18px;
}

/*======== header part end 01 ========*/

/* ======== journey part start 02 ======== */
.journey-area{
  
     display: grid;
     grid-template-columns: repeat(1,1fr);
     grid-template-rows: repeat(1,1fr);
     grid-gap: 20px;
    }
.journey-portion{
    /* height: 400px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.journey-content{
    margin-right: 10px;
}
.journey-content h1{
    text-transform: capitalize;
    font-size: 34px;
    line-height: 60px;
    color: rgb(19, 19, 17);
    /* color: #333e48; */
    /* color: #551A8B; */
    
}
.journey-content p{
    color: #000;
    text-transform: lowercase;
    font-size: 18px;
    line-height: 28px;
    margin: 10px 0 30px 0;
    
}

.journey-images{
    background:rgb(244, 248, 11);
    border: 2px solid black;
    border-radius: 50%;
}
.journey-portion:hover .journey-images img{
    transition: .3s ease-in;
    transform: rotate(-30deg);
    transform-origin:center;
}

/* ======== journey part end  02 ======== */
/* ======== brand section start 03 ======== */
.brand{
    margin-top: 40px;
    display:grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 30px;
    /* place-items: center; */
}
.brand hr{
    width: 100%;
}
.brand-portion{
    display: flex;
    justify-content: space-evenly;
}

/* ======== brand section end 03 ======== */
/* ======== popular collection start 04 */
.popular-collection-portion h2{
    font-size: 24px;
     text-transform: capitalize;
     text-align: center;
     margin-bottom: 30px;
}
.popular-collection{
  
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 20px;
 
}
.popular-product{
    /* display:flex; */
    border-radius: 15px; 
    padding: 20px;
    background-color: #faf6f6; 
    -webkit-box-shadow: 0px 1px 6px 4px rgba(0,0,0,0.35); 
    box-shadow: 0px 1px 6px 4px rgba(0,0,0,0.35);
 

}
.popular-product img{
   width: 100%;
   /* height: 100%; */
}
.product-content h3, h4{
    text-transform: capitalize;
    font-size: 20px;
    line-height: 35px;
}

.review-ratings{
    margin-bottom: 15px;
     color: orange;
}
.ratingClass{
    margin-left: 20px;
    color: #000;
}
.review-ratings .right span{
    position:relative;
    left: -80px;
}
.product-content p{
   font-size: 15px;
   text-transform: capitalize;
   line-height: 25px;
}
.product-content p{
    font-size: 15px;
    text-transform: capitalize;
    line-height: 25px;
 }
 /* .product-content p:nth-child(2){
     color: orange!important;
 } */
 .second{
     color: orange;
 }
 .more-collection{
     margin-top: 40px;
     float: right;
 }
 .more-collection a button{
     background: transparent;
     border: none;
     color: #E02C6D;
     letter-spacing: 0;
     text-transform: capitalize;
 }

/* ======== popular collection start 04 */
.electro-care-area{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    grid-gap: 30px;
    place-items: center;
}
.electro-care-area a{
    text-decoration: none;

}
.electro-care-area h1{
    font-size: 32px;
    margin-bottom: 20px;
    text-transform: capitalize;
    line-height: 30px;
}
.first h2{
    font-size:24px;
    color: #000;
    line-height: 40px;
    text-transform: capitalize;


}
.first p{
    font-size: 15px;
    line-height: 30px;
    color: #333e48;
    letter-spacing: 1px;
}
.electro-care-area img{
    width: 100px;
    height: 100px;
    margin-right: 20px;
}
.first-content{
    display: flex;
    align-items: center;
    
}
.first-content-area h4{
    font-size: 18px;
    /* display: inline-block; */
    text-transform: capitalize;
}
.first-content-area h1{
    font-size: 20px;
    text-transform: capitalize;
    display: inline-block;
    font-weight: 400;
}

.electro-care-area ul li{
    list-style: none;
}
.electro-care-area ul li a{
    list-style: none;
    color: #333e48;
    text-transform: capitalize;
    font-size: 15px;
}


/* ======== popular collection end 04 */
/* ======== footer start 04 */
footer{
    height: 150px;
}
.footer-portion{
    text-align:center;
    padding: 50px 0;
    background: #041E42;
    color: white;
}
.footer-portion h3{
    text-transform: capitalize;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
}
.footer-portion p{
    text-transform: lowercase;
    font-size: 15px;
    line-height: 26px;
    color: #fdf3f3;
    letter-spacing: 1px;
}
.icons i{
   margin-right: 10px;
   color: orange;
   font-size: 18px;
   margin-top: 10px;
   transition: .3s ease-in;
}
.icons i:hover{
    color: #f7ecec;
}

/* ======== footer end  04 */
/* ======== responsive start  */
@media(max-width:992px){
   
    .header-area .nav{
        display: none;
    }
    .header-logo{
        width: 100%;
        text-align: center;
    }
    .popular-collection, .electro-care-area{
        display:grid;
        grid-gap: 30px;
        place-items: center;
        grid-template-columns: repeat(2,1fr)
    }
    .journey-images img{
        height: 100%;
        width: 100%;
   
    }
}
@media only screen and (max-width:892px) {
    .journey-content h1{
       font-size: 20px;
       line-height: 30px;
    }
    .journey-content p{
        font-size: 15px;
        line-height: 30px;
     }
     .brand-portion img{
        height: 60px;
        width: 60px;
     }
}
@media only screen  and (max-width:600px){

    .journey-portion{
        display:block;
        text-align:center;
    }
    .journey-content{
        margin-bottom: 30px;
    }
    .journey-images{
       margin-top:50px;
    }
    /* .brand{
        display: none;
    } */

    .popular-collection , .electro-care-area, .journey-content{
        display:grid;
        grid-gap: 30px;
        place-items: center;
        grid-template-columns: repeat(1,1fr)
    }
    /* .brand-area{
        display:grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(7,1fr);
        grid-gap: 30px;
    }    */
    .brand-area img:nth-child(odd){
        display:none;
    }
}

/* ======== responsive end  */